@model Appointment


<div class="text-center">
    <h2>Thank you! Your appointment has been scheduled.</h2>
    <br />
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return Home</a>
</div>