@{
    ViewData["Title"] = "Appointment Form";
}

@model Appointment

<div class="text-right">
    <form method="post" asp-controller="Home" asp-action="Form">
        <h2>Enter your details here to book an appointment</h2>

        <br />
        <!--Put date value from signup page here-->
        @{ if (Model == null)
            {
                <label asp-for="Date"><h2>@ViewBag.Date.ToString("MM/dd/yy h:00 tt")</h2></label>
                <input asp-for="Date" type="hidden" value="@ViewBag.Date" />
            }
            else
            {
                <label asp-for="Date"><h2>@Model.Date</h2></label>
                <input asp-for="Date" type="hidden" value="@Model.Date.ToString("MM/dd/yy h:00 tt")" />
                <input asp-for="AppointmentId" type="hidden" />

            }
        }
        <br />
        <label asp-for="GroupName">Group Name:</label>
        <input asp-for="GroupName" />
        <br />
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" />
        <br />
        <label asp-for="Phone">Phone:</label>
        <input asp-for="Phone" />
        <br />
        <label asp-for="PartySize">Party Size:</label>
        <input asp-for="PartySize" />
        <br />
        <br />
        @{ if (Model == null)
            {

                <button type="submit" class="btn btn-success btn-sm">Confirm Appointment</button>
            }
            else
            {
                <button type="submit" class="btn btn-success btn-sm">Confirm Changes</button>

            }
        }
        <br />
        <br />
        <div style="color:red;" asp-validation-summary="All"></div>
    </form>
</div>