@{
    ViewData["Title"] = "Home Page";
}

<body>
    <a class="" asp-controller="Home" asp-action="SignUp">
        <div class="btn signup">
            Sign Up
        </div>
    </a>
    <div class="info p-4 m-2">Construction on the temple is well underway. Sign up and reserve a free private tour of the site</div>
</body>
