@{
    ViewData["Title"] = "Sign Up";
}
@model List<Appointment>
@{
    //Set variabel for three months out
    DateTime threeMonthsOut = DateTime.Now.AddMonths(3);
}
<h1>Sign Up</h1>
<div class="card mx-center">
    <table class="table table-bordered table-striped">

        <thead class="font-weight-bold">
            <tr>
                <td>Date <small>(Time)</small></td>
                <td>Location</td>
                <td>Time <small>(MDT)</small></td>
                <td>Availabilty</td>
            </tr>
        </thead>

        <tbody>
            @*Find out what todays date is: as long as the next appointment date is less than
                three months out, keep the loop going: Increment by an hour*@
            @for (DateTime date = DateTime.Now; threeMonthsOut.CompareTo(date) > 0; date = date.AddHours(1.0))
            {
                //Appointment Exists flag
                bool appointmentExists = false;
                //Check all the appointmentsin the model
                @foreach (var a in Model)
                {
                    //If the dates in matching formats are the same then the mark as Exists
                    if (a.Date.ToString("MM/dd/yy H:mm:ss") == date.ToString("MM/dd/yy H:00:00"))
                    {
                        appointmentExists = true;
                        break;
                    }
                }
                //If the hours are not between 8am and 8pm & it isn't already booked than print the appointment
                @if ((date.Hour >= 8) & (date.Hour < 21) & (appointmentExists == false))
                {
                    <tr>
                        <td>@date.ToString("MM/dd")</td>
                        <td>Temple Site Tour</td>
                        <td>@date.ToString("h:00 tt") - @date.AddHours(1).ToString("h:00 tt") </td>
                        <td>
                            <div class="card p-2 m-1">
                                <h6>Vistor Center Tour:</h6>
                                <span style="color:red;">max group size (50)</span>
                                <a class="float-right" asp-controller="Home" asp-action="Form" asp-route-date="@date.ToString("MM/dd/yy H:00")"><div class="btn btn-primary">Reserve Time Slot</div></a>
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>

    </table>
</div>

